doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title register form
    body 
        form(action="", method="post")
            label(for="username") 
            input(type="text" name="username" id="username" placeholder="username")
            br
            label(for="email")
            input(type="email" name="email" id="email" placeholder="email")
            br
            button(type="submit") register now 